.default-text-color {
    color: #3de2ff;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.landing-image {
    width: 100%;
    border-bottom: #cce2e6 2px solid;
}

.landing-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px;
    height: 600px;
}

.landing-tile-text {
    display: flex;
    flex-direction: column;
    color: #cce2e6;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.landing-tile {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    border: 2px solid #cce2e6;
    border-radius: 5px;
    font-size: 28px;
    width: 300px;
    height: 420px;
}

.landing-tile:hover {
    cursor: pointer;
    width: 330px;
    height: 462px;
    font-size: 31px;
    transition: .5s;
}

.login-button {
    background-color: #1db954;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    color: #cce2e6;
}

.login-button:hover {
    background-color: #cce2e6;
    color: #1a1e1f;
    cursor: pointer;
}

.login-button-wrapper {
    width: 100%;
    text-align: center;
}

.logo-primary {
    height: 50px;
}

.logo-primary:hover {
    cursor: pointer;
}

.nav {
    /*width: 100%;*/
    z-index: 1;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-button {
    padding: 10px 20px;
    border-radius: 10px;
}

.nav-button:hover {
    background-color: #3de2ff;
    color: #1a1e1f;
    cursor: pointer;
    transition: .8s;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.primary-info {
    text-align: center;
    font-size: 60px;
    color: #cce2e6;
    margin: 40px;
}

.test-border {
    border: red 2px solid;
}