.bottom-margin {
    margin-bottom: 20px;
}

.register-message {
    font-size: 15px;
    width: 300px;
    margin: 15px;
    text-align: center;
}

.register-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}