.default-text-color {
    color: #3de2ff;
}

.login-button {
    background-color: #cce2e6;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    color: #1a1e1f;
}

.login-button:hover {
    background-color: #1db954;
    color: #cce2e6;
    cursor: pointer;
}

.login-button-wrapper {
    width: 100%;
    text-align: center;
}

.nav {
    /*width: 100%;*/
    z-index: 1;
    top: 0;
    left: 0;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-button {
    padding: 10px 20px;
    border-radius: 10px;
}

.nav-button:hover {
    background-color: #3de2ff;
    color: #1a1e1f;
    cursor: pointer;
    transition: .8s;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.test-border {
    border: red 2px solid;
}